{% extends "base.html" %}

{% block content %}
	<div>
		<form method="POST" action="{{ url_for('update_comment',comment_id=comment_id) }}">
			{{ form.hidden_tag() }}
			<div>
				<div>
					<h2>{{ form.body.label }}</h2>
					{% if form.body.errors %}
            			<span style="color: red;">[{{ error }}]</span>
            		{% else %}
            			{{ form.body }}<br>
            		{% endif %}
				</div>
				<div>
					{{ form.submit }}
				</div>
			</div>
		</form>
		<div>
			{% for comment in comments %}
				<p>{{ comment.body }} - {{ comment.user.username }} 
					{% if current_user==comment.user %}
						<a href="{{ url_for('delete_comment', comment_id=comment.id) }}">DELETE</a>
						<a href="{{ url_for('update_comment', comment_id=comment.id) }}">UPDATE</a>

					{% endif %}
				</p>

			{% endfor %}
		</div>
	</div>
{% endblock %}